*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header{
    background: rgb(28, 167, 51);
    color: white;
    height: 30px;
    padding: 15px 100px;
    width: 100%;
}
.head1{
    float: left;
    margin-left: 10%;
    width: 50%;
    text-decoration-style: dotted;
    
}
.head2{
    float: right;
    margin-right: 20%;
    cursor: pointer;
}


.button{
    border: hidden;
    background-color: transparent;
    cursor: pointer;
    padding: 2px 2px;
    color: white;
}
.button:focus{
    color: black;
    transition: .3s;
    outline: none;
}
.button:hover{
    color: blue;
    transition: .3s;
    
}
.contact-bar{
    display: flex;
    flex-direction: column 2fr;
    justify-content: space-between;
    padding: 20px 230px;
    background-color: white;
}


.btn{
    border-radius: 7px;
    padding: 15px 50px;
    border-width: .1rem;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(51, 255, 0);
}


.container5{
    width: 1800px;
    margin: 0 11%;
    
    
}
.container5 ul{
    list-style: none;
    margin-top: 2%;
}


.container5 ul li{
    background-color: white;
    width: 160px;
    border-bottom: 1px solid rgb(180, 180, 180);
    border-top: 1px solid rgb(180, 180, 180);
    height: 37px;
    line-height: 34px;
    text-align: center;
    float: left;
    font-size: 14px;
    position: relative;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    
}
.container5 ul li a{
    text-decoration: none;
    color: black;
    border: 3px;
}
.container5 ul li:hover{
    background: rgb(192, 192, 192);
}


.container5 ul ul{
    display: none;
}


.container5 ul li:hover > ul{
    display: block;
    
}
.container5 ul li:hover > ul:last-child{
    border: none;
}
.container5 ul ul{
    position: absolute;
    transition: 2s;
}
.container5 ul ul li a{
    font-size: 5;
}


.container{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-self: center;
    padding: 5rem 5rem;
    grid-gap: 50px;
    margin: 0 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.services ul li a{
    text-decoration: none;
    cursor: pointer;
}


.extra{
    margin-top: 6%;
}
.extra p{
    font-size: small;
    margin-left: 12%;
}
.extra a{
    cursor: pointer; color: red;
}


.container2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-self: center;
    padding: 10rem 20rem;
    grid-gap: 50px;
    background-color: rgb(49, 49, 49);
    color: white;
    
}
.container2 a{
    text-decoration: none;
    color: white;
}
.container2 p{
    border-bottom: .1px solid white;
    border-width: .2px;
}
.container2 h3{
    border-bottom: 5px solid white;
    border-width: 80%;
}


.social{
    background-color: rgb(49, 49, 49);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.social-btn{
    display: inline-flex;
}
.footer{
    background-color: rgb(49, 49, 49);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.ico{
    font-size: 24px;
    text-decoration: none;
}


.ico:focus{
    text-decoration: none;
    color: white;
    transition: .3s;
    background-color: violet;
}
.footer .container3 a{
    visibility: visible;
}


.container3{
    display: grid; 
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; 
    width: 60%; 
    margin: 0 19%; 
    margin-bottom: 20px;
}




@media (max-width: 900px){
    .head1,.head2{
        visibility: hidden;
    }
    .contact-bar .column .btn{
        visibility: hidden;
    }
}


    .contact-bar .column .btn{
        visibility: hidden;
    }




@media (max-width: 1330px){
    .menu-bar ul br{
        display: initial;
    }
}
@media (max-width: 1514px){
    .menu-bar ul .Ffd{
        visibility: hidden;
    }
    .menu-bar ul .Ffd1{
        visibility: visible;
    }
}
@media (min-width: 1514px){
    .menu-bar ul .Ffd1{
        visibility: hidden;
    }
    .menu-bar ul .Ffd2{
        visibility: hidden;
    }
}
@media (max-width: 1035px){
    .menu-bar ul{
        visibility: hidden;
    }
    .menu-bar ul .Ffd1{
        visibility: hidden;
    }
}
